# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
*.env

# Logs
*.log

# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.pyc
.venv/
venv/
.envrc
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/


backend/.env
frontend/.en.local